{% extends "base.html" %}

{% block title %}<a href = "{% url "review_new"%}" >New Review</a> {% endblock title %}


{% block page_name %} {{restaurant.name}}{% endblock page_name %}

{% block contents %}

  {% if restaurant.reviews.all%}


    {% for review in restaurant.reviews.all%}
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <p class="card-text">{{review.user}} - {{review.rating}} stars - {{review.create}}</p>
        <h5 class="card-title">{{review.body}}</h5>
        <a href = "{% url "review_details" review.pk%}" class="btn btn-primary">Review Details</a>
      </div>
    </div>
    {% endfor %}

  {% else %}
    <p>No reviews here</p>

  {% endif %}


{% endblock contents %}

