<!Caleb Taylor>
<! CIS 218>
<! 10/24/2024>
{% extends "base.html" %}

{% block page_name %}
<a href="javascript:history.back()">{{review.restaurant}}</a>
{% endblock page_name %}

{% block title %}
  {{review.restaurant}} - Detailed Review
{% endblock title %}


{% block contents %}
<br>

  <div class="card" style="width: 75rem;">
    <div class="card-body">
      <p class="card-text">{{review.user}} - {{review.rating}} stars - {{review.create}}</p>
      <h5 class="card-title">{{review.body}}</h5>
      <p><a class="btn btn-success" href = "{% url 'review_update' review.pk%}" role="button" >+ Edit Review</a>
      <a class="btn btn-danger" href = "{% url 'review_delete' review.pk%}" role="button">+ Delete Review</a></p>
    </div>
  </div>
{% endblock contents %}