{% extends "base.html" %}

{% block page_name %}
<a href = "{% url "restaurant_details" restaurant.pk %}"> {{review.restaurant}}</a> - Detailed Review Page
{% endblock page_name %}

{% block title %}
  {{review.restaurant}} - Detailed Review
{% endblock title %}


{% block contents %}
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <p class="card-text">{{review.user}} - {{review.rating}} stars - {{review.create}}</p>
      <h5 class="card-title">{{review.body}}</h5>
    </div>
  </div>
{% endblock contents %}