{% extends "base.html" %}

{% block page_name %}
Detailed Review Page
{% endblock page_name %}

{% block title %}
  {{review.restaurant}} - Detailed Review
{% endblock title %}


{% block contents %}
  <div class="card" style="width: 50rem;">
    <div class="card-body">
      <p class="card-text">{{review.user}} - {{review.rating}} stars - {{review.create}}</p>
      <h5 class="card-title">{{review.body}}</h5>
      <p><a href = "{% url 'review_update' review.pk%}">+ Edit Review</a></p>
      <p><a href = "{% url 'review_delete' review.pk%}">+ Delete Review</a></p>
    </div>
  </div>
{% endblock contents %}